.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background: rgba(19, 19, 19, 0.8);
}

.footer .footer-container,h4,p{
    padding: 0.6rem 0 1.5rem;
}

h4{
  font-size: 1.5rem;
}


@media screen and (max-width: 760px){
    
}
