.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header-bg{
    background: rgba(0, 0, 0, 0.85);
    transition: .5s;
}
.nav-menu{
    display: flex;
}

.nav-menu li {
    padding: 0 1rem;
}

.nav-menu a::after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    background: #00ffff;
    left: 0;
    bottom: -5px;
    transition: .5s;
}

.nav-menu a:hover::after{
    width: 100%;
}
.nav-menu li a{
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
}

.humberger{
    display: none;
}

@media screen and (max-width:760px){

    .nav-menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: .4s;
    }

    .nav-menu.active{
        left: 0;
    }

    .nav-menu li{
        padding: 1rem;
    }

    .humberger{
        display: initial;
        cursor: pointer;
    }
    
}